home_latitude:
home_longitude:
home_elevation:
home_radius:

tv_ip:

steam_api_key: 
steam_user1: 
steam_user1_entity: 
steam_user2: 
steam_user2_entity: 

db_route1_name: 
db_route1_from: 
db_route1_to: 
db_route1_entity: 

db_route2_name: 
db_route2_from: 
db_route2_to: 
db_route2_entity: 

miflora_mac_1: 
miflora_mac_2: 
miflora_mac_3: 
miflora_mac_4: 

iframe_url: 

plantbook_client_id: 
plantbook_secret: 